html, body{
    overflow: hidden;
}

.logo{
    padding: 10px;
}

#nextBtn{
    padding-top: 60px;
}

.line1{
    font-weight: 200;
}

.line2{
    font-weight: 250;
}

.line3{
    font-weight: 300;
}

.line4{
    font-weight: 400;
}

.line5{
    font-weight: 500;
}

.line6{
    font-weight: 600;
}

.line7{
    font-weight: 700;
}

.line8{
    font-weight: 800;
}

.footer{
    width: 104%;
    position: absolute;
    bottom: 50px;
}