@font-face {
    src: url('../fonts/Antarctica-Beta-VF.ttf');
    font-family: Antarctica;
}

html {
    font-family: 'Antarctica', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Antarctica', sans-serif;
        font-variation-settings: 'wght'100;
    }
}

body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Antarctica';
}

body {
    background-color: white;
    color: black;
}
/*
#nextBtn {
    position: absolute;
    top: 30px;
    right: 30px;
}*/

a:hover{
    color: black
}

#txt, #nextBtn {
    margin: 20px;
    margin-top: 40px;
    font-size: 2vw;
}

.footer {
    border-top: solid 1px grey;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    height: 40px;
}

a {
    color: black;
}

@media screen and (min-width: 375px) {
    #txt {
        font-size: 5vw;
    }

    .logo {
        width: 60%;
    }
}

@media screen and(min-width: 780px) {
    #txt {
        font-size: 5vw;
    }

    .logo {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    #txt {
        font-size: 3vw;
    }

    .logo {
        width: 30%;
        position: relative;
        width: 100%;
        z-index: 5;
        font-size: 25px;
        padding: 10px;
        padding-left: 45px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 102%;
        height: 40px;
    }
}

#txt {
    padding-top: 25px;
    font-size: 3.5vw;
    line-height: 120%;
}

@media screen and (min-width: 120px) {
    #txt {
        font-size: 5vw;
    }

    hr {
        width: 90%;
    }

    .logo {
        width: 100%;
    }
}

@media screen and(min-width: 780px) {
    #txt {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        width: 35%;
    }

    #txt {
        font-size: 3.5vw;
    }
}