html, body{
  margin: 0px;
  padding: 0px;
}
.grid {
  position: absolute;
  margin: auto;
  margin-top: 30px;
  min-width: 100%;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-height: 500px;
  max-height: 500px;
  width: 33.33333%;
}

.grid figure img {
  position: absolute;
  height: 90%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

/* ----- */
figcaption{
color: #fff;
position: relative;
margin-top: 300px;
}

figure.anim{
margin: 0;
}

figure.anim img,
figure.anim h2 {
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
}

figure.anim h2 {
padding: 20px;
}

figure p{
padding: 0px !important;
margin: 30px !important;
width: 80%;
}

figure.anim p {
font-size: 90%;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(0,100px,0);
transform: translate3d(0,100px,0);
}

figcaption{
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(0,100px,0);
transform: translate3d(0,100px,0);
}

figure.anim:hover img {
transform-origin: top left;
-webkit-transform: translate3d(0,-160px,0);
transform: translate3d(0,-160px,0);
}

figure.anim:hover figcaption{
-webkit-transform: translate3d(0,-200px,0);
transform: translate3d(0,-200px,0);
}

figure.anim:hover p{
opacity: 1;
-webkit-transform: translate3d(0,-50px,0);
transform: translate3d(0,-50px,0);
}
